<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本列表</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍歷數組 -->
        <h2>人員列表</h2>
        <ul>
            <li v-for="(p, index) in persons" :key="index">
                <!-- {{p.name}} - {{p.age}} - {{index}} -->
                {{p.name}} - {{p.age}}
            </li>
        </ul>

        <!-- 遍歷對象 -->
        <h2>汽車列表</h2>
        <ul>
            <!-- 會先收到value，再收到key，key的值可以與:key綁定，前提是不重複 -->
            <li v-for="(value, key) of car" :key="key">
                {{value}} --- {{key}}
            </li>
        </ul>

        <!-- 測試字符串 -->
        <h2>測試遍歷字符串(用的少)</h2>
        <ul>

            <li v-for="(char, index) of str" :key="index">
                {{char}} --- {{index}}
            </li>
        </ul>

        <!-- 遍歷指定次數 -->
        <h2>遍歷指定次數(用的少)</h2>
        <ul>
            <li v-for="(number, index) of 5" :key="index">
                {{number}} --- {{index}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip=false

        new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'001', name:'張三', age:18},
                    {id:'002', name:'李四', age:19},
                    {id:'003', name:'王五', age:20}
                ],
                car:{
                    name:'Audi',
                    price:'50w',
                    color:'white'
                },
                str:'hello'
            }
        })
    </script>
</body>
</html>